extends layout

block content
  h1= title
  p Welcome to #[em My Tv Shows App], a Express App for listening your favorite tv shows.

  h1 App Records

  if error
    p Error getting app content.
  else
    p The App has the following record counts:

    ul
      li #[strong Shows:] !{data.show_count}
      li #[strong Creators:] !{data.creator_count}
      li #[strong Genres:] !{data.genre_count}